NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
NEXT_PUBLIC_CELO_RPC_URL=https://alfajores-forno.celo-testnet.org
PRIVATE_KEY_DEPLOYER=
NEXT_PUBLIC_ESCROW_CONTRACT_ADDRESS=